body { font-family: sans-serif; padding: 20px; }
  /* #question { font-size: 28px; margin-bottom: 15px; font-weight: bold; } */
.quiz-wrap {
    width: 50%;         
    margin: 0 auto;     
}

#question {
    font-size: 28px;
    margin-bottom: 15px;
    font-weight: bold;
}

#options {
    display: flex;
    flex-direction: column;
    width: 100%;  
}

#next {
    margin-top: 20px;
    padding: 12px 25px;
    font-size: 18px;
    border-radius: 8px;
    border: 2px solid #000;
    background: white;
    cursor: pointer;
}
  .option {
    width: 100%; 
    padding: 12px;
    border: 1px solid #aaa;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 6px;
}
  .option:hover { background: #f0f0f0; }
  #result { margin-top: 15px; font-size: 20px; font-weight: bold; }
  #next {
    margin-top: 20px;
    width: 100%;       
    padding: 12px 25px;
    font-size: 18px;
    border-radius: 8px;
    border: 2px solid #000;
    background: white;
    cursor: pointer;
}

 button{
    padding: 0.5rem 1rem;
    position: relative;
    overflow: hidden;
    border-radius: 0.5rem;
    background: var(--color-mau2);
    font-weight: 700;
    opacity: 1;
    margin: 2px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.duong-ke{
    width: 100%;
    height: 1px;
    background-color: black;
}